/*
 *
 *     ,---.   ,--.           ,--.           ,-----.
 *    '   .-',-'  '-.,--. ,--.|  | ,---.     |  |) /_  ,--,--.,--.--.
 *    `.  `-.'-.  .-' \  '  / |  || .-. :    |  .-.  \' ,-.  ||  .--'
 *    .-'    | |  |    \   '  |  |\   --.    |  '--' /\ '-'  ||  |
 *    `-----'  `--'  .-'  /   `--' `----'    `------'  `--`--'`--'
 *                   `---'
 *
 *
 *       , _ ,        RESUME: Minimal style config to have basic info
 *      ( o o )
 *     /'` ' `'\
 *     |'''''''|      AUTHOR:  Andr3xDev
 *     |\\'''//|      URL:  https://github.com/Andr3xDev/Dotfiles
 *        """
 */



/*--------------------------------------------------------------------------------
 *    Colors
 *-------------------------------------------------------------------------------*/

@define-color background            #282828;
@define-color hard_background       #1B1B1B;
@define-color second_background     #45403D;
@define-color foreground            #EBDBB2;
@define-color selection_foreground  #D8A657;
@define-color selection_background  #3c3836;
@define-color color_blue            #7DAEA3;
@define-color color_green           #A9B665;
@define-color color_green_2         #B8BB26;
@define-color color_yellow          #D8A657;
@define-color color_yellow_2        #FABD2F;
@define-color color_red        	    #EA6962;
@define-color color_red_2        	#FB4934;
@define-color color_purple          #d3869B;
@define-color color_aqua            #89B482;
@define-color color_grey            #7C6F64;
@define-color color_white           #A89984;



/*--------------------------------------------------------------------------------
 *    General
 *-------------------------------------------------------------------------------*/

*{
    font-family: FontAwesome, Jetbrains Mono Nerd;
    font-size: 13px;
}

#waybar > box {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

window#waybar {
    background-color: @background;
    color: @foreground;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}



/*--------------------------------------------------------------------------------
 *    Sections
 *-------------------------------------------------------------------------------*/

.modules-right {
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}

.modules-center {
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}

.modules-left {
    background-color: @background;
    border-top: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}



/*--------------------------------------------------------------------------------
 *    Left Modules
 *-------------------------------------------------------------------------------*/

#workspaces {
    background-color: @background;
    color: @foreground;
    padding-left: 1em;
}

#workspaces button {
    color: @foreground;
    padding: 0 6px;
}

#workspaces button:hover {
    color: @color_aqua;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    outline: none;
    transition: none;
}

#workspaces button.active {
    color: @color_green_2;
}

#workspaces button.active:hover {
     color: @color_aqua;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    outline: none;
    transition: none;
}

#clock {
    background-color: @background;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-right: 3px;
    border-right-style: solid;
    border-right-color: @color_yellow;
}



/*--------------------------------------------------------------------------------
 *    Right Modules
 *-------------------------------------------------------------------------------*/

#battery {
    color: @foreground;
    padding-left: 0.5em;
    padding-right: 1.5em;
    min-width: 37px;
}

#battery.warning {
    color: @color_yellow_2; /* low battery (<15%) */
}

#battery.critical {
    color: @color_red_2; /* very low battery (<5%) */
}

#battery.charging,
#battery.plugged {
    color: @color_green_2; /* charging or plugged in */
}

#memory {
    padding-left: 1em;
    padding-right: 0.5em;
    min-width: 37px;
}

#memory.warning {
    color: @color_yellow_2; /* high usage */
}

#memory.critical {
    color: @color_red_2; /* very high usage */
}

#cpu {
    padding-right: 0.5em;
    padding-left: 1.5em;
    border-left: 3px;
    border-left-style: solid;
    border-left-color: @color_green;
    min-width: 37px;
}

#cpu.warning {
    color: @color_yellow_2; /* moderate usage */
}

#cpu.critical {
    color: @color_red_2; /* high usage */
}

#network {
    padding-right: 1.5em;
    padding-left: 1em;
}

#network.disconnected {
    color: @color_red_2;
}

#bluetooth{
    padding-right: 0.5em;
    padding-left: 1em;
}

#bluetooth.disabled {
    color: @color_grey;
}

#wireplumber{
    background-color: @background;
    padding-right: 1em;
    padding-left: 1.5em;
}

#wireplumber.muted {
    color: @color_grey;
}

#custom-spotify {
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-right: 3px;
    border-right-style: solid;
    border-right-color: @color_blue;
}

#custom-spotify.custom-spotify-playing {
    color: @color_green_2;
}

#custom-spotify.custom-spotify-paused {
    color: @color_grey;
}
