# core
set -g default-terminal "tmux-256color"
set -s escape-time 0
set -g detach-on-destroy off
set -g base-index 1
setw -g pane-base-index 1
set-option -g renumber-windows on

# theme & statusbar
source-file "~/.config/tmux/themes/moonfly.conf"

set -g @tmux-statusbar-status-right " %I:%M %p "
run-shell ~/.config/tmux/plugins/statusbar.tmux

# prefix & general keys
{{- if eq .osid "darwin" }}
set-option -g default-command "${SHELL}"
{{- end }}
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix
bind-key x kill-pane

# copy mode (vi)
set-window-option -g mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'xclip -in -selection clipboard'

# pane & window navigation
bind -r ^ last-window
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

# toggle window index (statusbar)
bind i run-shell ' \
    curr=$(tmux show-option -gv "@tmux-statusbar-show-window-index"); \
    if [ "$curr" = "true" ]; then \
        tmux set-option -g "@tmux-statusbar-show-window-index" "false"; \
    else \
        tmux set-option -g "@tmux-statusbar-show-window-index" "true"; \
    fi; \
    ~/.config/tmux/plugins/statusbar.tmux; \
    tmux refresh-client -S'

# sesh launcher
bind-key -n C-f run-shell "sesh connect \"$(
    ~/.config/sesh/scripts/sesh-find --icons | fzf-tmux -p 80%,70% \
        --no-sort --ansi --border-label ' sesh ' --prompt '⚡  ' \
        --header '  ^a all ^t tmux ^g configs ^x zoxide ^d tmux kill ^f find' \
        --bind 'tab:down,btab:up' \
        --bind 'ctrl-a:change-prompt(⚡  )+reload(~/.config/sesh/scripts/sesh-find --icons)' \
        --bind 'ctrl-t:change-prompt(🪟  )+reload(sesh list -t --icons)' \
        --bind 'ctrl-g:change-prompt(⚙️  )+reload(sesh list -c --icons)' \
        --bind 'ctrl-x:change-prompt(📁  )+reload(sesh list -z --icons)' \
        --bind 'ctrl-f:change-prompt(🔎  )+reload( (fd -H -d 2 -t d -E .git . ; fd -H -d 2 -t d -E .git . ~) )' \
        --bind 'ctrl-d:execute(tmux kill-session -t {2..})+change-prompt(⚡  )+reload(sesh list --icons)' \
        --preview-window 'right:55%' \
        --preview 'sesh preview {}'
)\""
