#!/bin/bash

TARGET_DIR="{{ .chezmoi.homeDir }}/.local/bin/scripts"
SOURCE_DIR="{{ .chezmoi.sourceDir }}/submodules/external_tmux-sessionizer/tmux-sessionizer"

mkdir -p "$TARGET_DIR"

ln -sfn "$SOURCE_DIR" "$TARGET_DIR"

find -L "$TARGET_DIR" -type l -exec rm -- {} +
